<p> 
Добро пожаловать на сайт "Guitar Node"!
Если вы желаете научиться играть на гитаре, либо уже умеете, но желаете повысить свой уровень мастерства, 
тогда Вы обратились по адресу. Данный ресурс содержит в себе много полезной, обучающей информации, которая будет
 интересна как начинающим, так и гитаристам у которых, после получасовой "тренировки" уже НЕ появляются мазоли на 
кончиках пальцев ;).
</p>
<p>
Уроки. Данный раздел делится на два подраздела: Акустика - содержит статьи, уроки и другие материалы, описывающие
тонкости мастерства игры на акустической гитаре. Электро - раздел предназначен для гитаристов, которые не бояться будить
 соседей громкими, дикими, визжащими <i>сами придумайте какими</i> риффами.
 </p>
 <p>
Раздел МатЧасть - обзор технической стороны "гитаризма". Конструкция винтовки, примочки, усилители, аксессуары, фурнитура
и многое другое...
</p>
<p>
  <i color="red">*</i>Также у Вас есть возможность связаться с редакцией сайта.
<i>*</i><i>доступно только <a href="#">зарегистрированным<a/> пользователям</i>
Пожалуй хватит болтовни - предлагаю перейти к делу!
</p>