﻿        .menuFont {
            font-style: normal;
            font-family: Mistral;
            font-weight: 600;
            font-variant: normal;
            color: antiquewhite;
            font-size: medium;
            text-decoration: none;
        }
        /*color ACTIVE link */
        a.my-class:active { color: antiquewhite}