﻿<h2>Guitar Curriculum</h2>
<img src="http://localhost:3835/Resources/Article1/1.jpg" width="100" height="50"/>
<p>
    The Guitar Center Lessons curriculum is based on a progressive advancement model.
    <img src="http://localhost:3835/Resources/Article1/2.jpg"  align="left" width="50" height="50"/>
     This proven method provides a well-defined roadmap of the material covered and skills taught
     so you can easily track your past and future progress. Since we use the same curriculum in all locations, students have the flexibility to take lessons from any instructor 
    at any of our locations and progress through the same content. Our program is fun but challenging–both for beginners and serious musicians who want to improve their existing chops.
</p>
