﻿<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/nazi-typewriter" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">

<style>
    p{
      font-family: 'Barrio', cursive;
    }
</style>

<div style="font-family: NaziTypewriterRegular; 
   font-weight: normal; 
   font-style: normal; ">
    <p style="font-size : medium ; padding-top : 20px; padding-left : 20px">
        @*<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 60px" href=@Url.Action("Index", "Home", null)><img src="~/Resources/SideIconGuitar/FlyingV.png" /></a>*@
        @*<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 10px; background-image : url(http://localhost:3835/Resources/SideIconGuitar/Explorer.png)" href="http://localhost:3835/Resources/Article1/GuitarCurriculum.html"></a>*@
        
        Добро пожаловать на сайт "Guitar Node"!SoFuckinWhat
        Если вы желаете научиться играть на гитаре, либо уже умеете, но желаете повысить свой уровень мастерства,
        тогда Вы обратились по адресу. Данный ресурс содержит в себе много полезной, обучающей информации, которая будет
        интересна как начинающим, так и гитаристам у которых, после получасовой "тренировки" уже НЕ появляются мазоли на
        кончиках пальцев ;).
    </p>
    <p style="font-size : medium ;">
        Уроки. Данный раздел делится на два подраздела: Акустика - содержит статьи, уроки и другие материалы, описывающие
        тонкости мастерства игры на акустической гитаре. Электро - раздел предназначен для гитаристов, которые не бояться будить
        соседей громкими, дикими, визжащими <i>сами придумайте какими</i> риффами.
    </p>
    <p style="font-size : medium ;">
        Раздел МатЧасть - обзор технической стороны "гитаризма". Конструкция винтовки, примочки, усилители, аксессуары, фурнитура
        и многое другое...
    </p>
    <p style="font-size : medium ;">
        Также у Вас есть возможность связаться с редакцией сайта.<sup><i style="color : red">*</i></sup>
        <sup><i style="color : red">*</i></sup><i>доступно только <a href="">зарегистрированным</a> пользователям</i>
        Пожалуй хватит болтовни - предлагаю перейти к делу!
    </p>
</div>



@section Authorization
     {
    <div style="background-color : azure ; background-size :contain">
        <h2>Вход на сайт</h2>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary()
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <p>
                    <label>Email</label><br />
                    @Html.TextBox("Email")
                </p>
                <p>
                    <label>Пароль</label><br />
                    @Html.TextBox("Password")
                </p>
                <p><button type="submit">Войти</button></p>
            </div>
        }
    </div>
}

@section Voting
     {
    <div style="background-color :burlywood ; background-size :contain ; height : 350px">
        <p>Voting</p>
    </div>
}

@section RandomPhrase
{
<div id="PhraseContainer" style="background-color : bisque ; height:200px ; padding-left : 20px; padding-right : 20px; padding-top : 20px;">
    <p class="speech" style="line-height: 40px;">
        <i id="RandomPhrase" style="font-size :small ; line-height: 50%">
            @TempData["randomContent"]
        </i>
    </p>

    <br />
    <p id="PhraseAuthor" style="margin-bottom : 0px ; font-size : initial">@TempData["randomAuthor"]</p>
</div>
    }

@section RandomPhoto
{
<img id="PictureAuthor" src= @string.Format("http://localhost:3835/" + @TempData["randomPictureAuthor"]) height="200" width="200" style="padding : 0,0,0,0" />
    }

@*@section SideMenuIcons
{
@*___________LeftMenuFixed*@
@*<button class="fxdButton" style="background-image : url(http://localhost:3835/Resources/Icons/Jackson.png); background-color : transparent"></button>*@
@*<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 10px; background-image : url(http://localhost:3835/Resources/SideIconGuitar/Explorer.png)" href="http://localhost:3835/Resources/Article1/GuitarCurriculum.html"></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 60px" href=@Url.Action("Index", "Home", null)><img src="~/Resources/SideIconGuitar/FlyingV.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 110px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 160px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 210px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 260px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 310px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 360px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 410px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 460px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 510px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 560px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 610px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 660px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 710px"><img src="~/Resources/Icons/Jackson.png" /></a>
<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 760px"><img src="~/Resources/Icons/Jackson.png" /></a>*@
@*<a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 810px"><img src="~/Resources/Icons/Jackson.png" /></a>
    <a class="fxdButton" style="width : 50px ; height : 50px ; padding-top : 860px"><img src="~/Resources/Icons/Jackson.png" /></a>*@
@*________________________*@
    @*}*@

<script>
    //______Poll from client to server_____________________________________________________________
    var i = 0;
    var intervalId = window.setInterval(function () {
        // send AJAX requests every 'x' seconds to check for updates
        $.getJSON('@Url.Action("poll")', function (dataFromServer) {
            document.getElementById('RandomPhrase').innerHTML = dataFromServer.Content;
            document.getElementById('PhraseAuthor').innerHTML = dataFromServer.PhraseAuthor;
            //Элементу с ID PictureAuthor"
            $("#PictureAuthor").attr('src', "http://localhost:3835/" + dataFromServer.AuthorsPortrait_Link);
        });
    }, 15000);
    //_____________________________________________________________________________________________
</script>



