﻿  p.speech {
	position: relative;
	width: 100%;
	height: 50%; /*100px*/
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	/*border: 8px solid #666;*/
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
  
p.speech:before { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 30px; 
	top: 84px; 
	/*border: 25px solid; 
	border-color: #666 transparent transparent #666;*/
}
      
p.speech:after { 
	content: ' '; 
	position: absolute; 
	width: 0; 
	height: 0; 
	left: 39px; 
	top: 84px; 
	border: 15px solid; 
	border-color: #fff transparent transparent #fff;
}
