﻿p.Cloud{
width: 150px; height: 80px; margin-left: 26px;
background: #B5DDD4;
position: relative;
border-radius: 10px;
}

p.Cloud:before {
content: "";
width: 0; height: 0;
position: absolute; right: 100%; top: calc(50% - 12px);
border-top: 12px solid transparent;
border-right: 24px solid #B5DDD4;
border-bottom: 12px solid transparent;
}
