﻿<h2>GuitarLessons</h2>
<img src="http://localhost:3835/Resources/Article1/1.jpg" width="100" height="50"/>
<p>
    Rockshow is a unique Guitar Center program where you are placed in a band with other musicians, 
    <img src="http://localhost:3835/Resources/Article1/2.jpg" align="left" width="50" height="50"/>
    learn three to five songs and ultimately perform a concert for your friends and family.
    In the Rockshow program, you are matched with other musicians at similar skill levels. With the help of an experienced band coach, your band will learn a few songs and get tips on 
    performance techniques. After practicing two hours per week in one of our rehearsal rooms, your group will perform a concert on the last Saturday of the month.
</p>
