﻿@model AuthorizeForGuitarNode.Models.Articles.Article
@using System.IO;


@{
    ViewBag.Title = "ArticleViewer";
}

<script type="text/javascript">
    function OnFailure(request, error) {
        window.location.href = 'http://localhost:3835/Account/Register';
    }
    </script>

@if (Model != null)
{
    using (Html.BeginForm("IndexArticles", "Articles", FormMethod.Get))
    {

        @Html.Raw(Model.Content);

        <input type="submit" class="btn-default" value="Back to list articles..." />

    }

    using (Ajax.BeginForm("ContentComment", "Articles", new AjaxOptions { UpdateTargetId = "updatableContainer", LoadingElementId = "loading",  OnFailure = "OnFailure",}))
    {
        <div class="item" style="background-color :antiquewhite ; outline: 2px solid #000">
            @Html.TextBox("commentContent")
            <input type="submit" class="btn-default" value="Add Comment" />
        </div>
    }
}

    @*using (Ajax.BeginForm("CommentViewer", "Articles", new AjaxOptions { UpdateTargetId = "commentContainer", LoadingElementId = "loading" }))
    {
        <div class="item" style="background-color :antiquewhite ; outline: 2px solid #000">
            <button type="submit" class="btn-default" value=@Model.ArticleId>Просмотреть все комментарии...</button>
        </div>
    }*@

    <div id="loading" style="display : none">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>

    @*<div id="commentContainer">
        @Html.Action("CommentViewer", "Articles");
    </div>*@

    <div id="commentContainer">
        <div id="updatableContainer"></div>
        @Html.Action("CommentViewer", "Articles");
    </div>


