﻿@model List< AuthorizeForGuitarNode.Models.Articles.Comment>


@{
    Layout = null;
}

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <p>
            @item.CommentLink

        </p>
        <hr />
    }
}
else
{
    <p style="font : large">Будьте первым кто оставил комментарий</p>
}

