﻿@*http://fontawesome.ru/ - icons*@
@model AuthorizeForGuitarNode.Helpers.IndexViewModel
@using AuthorizeForGuitarNode.Helpers;



@{
    ViewBag.Title = "Index";
}



<h2 class="fa fa-address-book"> Index</h2>




@foreach (var item in Model.Articles)
{
    <div class="item" style="background-color : wheat ; outline: 2px solid #000">

        @using (Html.BeginForm("ArticleViewer", "Articles", FormMethod.Post))
        {

            <p>@item.Description</p>
                <p>
                    <button type="submit" name="id" value=@item.ArticleId>Read more...</button>
                    <i class="fa fa-eye"> </i>
                    <i>@item.Viewed </i>
                    <i>  </i>
                    <i class="fa fa-comments"> </i>
                    <i>@item.CommentCount</i>
                    <i>Дата добавления </i>
                    <i>@item.DateOfIssue.ToShortDateString()</i>
                </p>

        }
    </div>
        <p></p>
        <hr />
        <p></p>

}
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("IndexArticles", new { page = x }))
</div>






